*{
    padding: 0;
    margin: 0;
}
.top-nav,.top-nav span,.nav-bar,.nav-bar ul,
.body-boxes,.box2,.box3,.col-2,.box4,.header,.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* style top of navbar */
.top-nav{
    width: 100%;
    height: 80px;
}
.top-nav div{
    
   padding-right: 100px;
}
.top-nav h1{
    
    padding-left: 200px;
}
/* style of navbar */
.nav-bar{
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    justify-content: space-around;
    padding: 0px 180px;
}
.nav-bar h1{
    width: 150px;
    height: 50px;
    background-color:  red;
    border-radius:40px 0px ;
    text-align: center;
}
/* style of list navbar */
.nav-bar ul{
    width: 40%;
    list-style-type: none;
    justify-content: space-around;
    font-size: larger;
    padding-right: 400px;
    
}
.nav-bar img{
    width: 30px;
    height: 30px;
    padding: 20px;
}
.img{
    margin-right: 250px;
    width: 280px;
}

/* style body of all boxes */
.body-boxes{
    width: 100%;
    background-color: #dddddd;
    padding: 2% 10% 2% 5%;
    
}
/* style of col-1 */
.col-1{
    height: 900px;
    flex: 1;
    flex-direction: column;
    margin-left: 6%;
    
}
/* style of box1 */
.box1{
    width: 50%;
    height: 260px;
    background-color: white;
    border-radius: 10%;
    padding: 20px;

}
.box1 p{
    font-size: large;
    padding: 5px 30px;
}
.box1 h1{
    border-bottom: 3px solid black;
    padding: 10px;

}
/* style of box2 */
.box2{
    width: 50%;
    height: 140px;
    background-color: white;
    border-radius: 10%;
    padding: 20px;
    margin-top: 40px;
    flex-direction: column;
    justify-content: space-around;
    

}

.btn1{
    width: 80px;
    color: white;
    background-color: blue;
    padding: 5px;
    border: 2px solid black;
    box-shadow: 5px 5px black;
    margin-right: 5px;
}
.btn2{
    width: 80px;
    padding: 5px;
    border: 2px solid black;
    box-shadow: 5px 5px black;

}
/* style of box 3 */
.box3{
    width: 50%;
    height: 140px;
    background-color: white;
    border-radius: 10%;
    padding: 20px;
    margin-top: 40px;
    flex-direction: column;
    justify-content: space-around;
    
    

}

.btn3{
    width: 100%;
    background-color: #ffe599;
    padding: 5px;
    border: 2px solid black;
    box-shadow: 5px 5px black;
    margin-right: 5px;
    
}
/* style of col-2 */
.col-2{
    width: 1080px;
    height: 900px;
    flex: 2;
    flex-direction: column;
}
/* style of box 4 */

.box4{
    height: 620px;
    width: 80%;
    flex-direction: column;
    background-color: white;
    border-radius: 5%;
    padding: 60px;
    align-items: normal;
    font-size: xx-large;
    margin-right: 40%

}
/* style of row of box 4 */
.col1,.col2,.col3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.col2{
    height: 200px;
}
.header{
    justify-content: start;
    font-weight: bold;
    font-size: xxx-large;

}
.row{
    border-bottom: 3px solid black;
}
.row img{
    width: 150px;
    height: 150px;
}
.header li{
    color: red;
    margin-right: 20px;
}



